Django==1.4
-e git://github.com/JeffHeard/ga_ows.git#egg=ga_ows-dev
lxml==2.3.4
psycopg2==2.4.5
wsgiref==0.1.2
requests
-e git+https://github.com/toastdriven/django-haystack.git#egg=django-haystack
-e git+https://github.com/toastdriven/pyelasticsearch.git#egg=pyelasticsearch
python-twitter
