<html>
<head>
<link rel="search" type="application/opensearchdescription+xml" title="VGIMap" href="http://vgi.dev.opengeo.org/opensearch/opensearch.xml">
</head>
<body>
<b>VGI Map</b>
<ol>
<li><a href='/wfs/?service=WFS&Request=GetCapabilities'>WFS</a></li>
<li><a href='/twitter_wfs/?service=WFS&Request=GetCapabilities'>Twitter WFS</a></li>
<li><a href='/ushahidi_wfs/?service=WFS&Request=GetCapabilities'>Ushahidi WFS</a></li>
<li><a href='/osm_wfs/?service=WFS&Request=GetCapabilities'>OpenStreetMap WFS</a></li>
<li><a href='/search/'>Search</a></li>
<li><a href='/opensearch/opensearch.xml'>OpenSearch</a></li>
</body>
</html>
